{getstatusmsg}
{include file="IWbooks_admin_menu.htm"}

<div class="z-admincontainer">
<div class="z-adminpageicon">{img modname='core' src='package_applications.gif' set='icons/large' __alt='_EXAMPLEDBADD' }</div>

<h2>{gt text="Enter new subject"}</h2>
<div>
<form id="IWbook"  class="pn-form" action="{modurl modname="IWbooks" type="admin" func="create_mat"}" method="post" enctype="application/x-www-form-urlencoded">

	<input type="hidden" name="authid" value="{secgenauthkey module="IWbooks"}" />

  <fieldset class="IWbooks-fieldset">
  
  <legend></legend>

	<div class="pn-adminformrow">
		<label for="IWbooks_codi_mat">{gt text="Code subject"}</label>
		<input id="IWbooks_codi_mat" name="item[codi_mat]" type="text" size="3" maxlength="3" value="{$codi_mat|safetext}" />
	</div>
  
  	<div class="pn-adminformrow">
		<label for="IWbooks_materia">{gt text="Subject"}</label>
		<input id="IWbooks_materia" name="item[materia]" type="text" size="50" maxlength="50" value="{$materia|safetext}" />
	</div>

  </fieldset>
  
   
    {modcallhooks hookobject=item hookaction=new_mat module=IWbooks}
	
    <div class="pn-formrow pn-adminformbuttons">
    <a href="{modurl modname=IWbooks type=admin func=view}">{img modname='core' src='button_cancel.gif' set='icons/small'   __alt="Cancel" __title="Cancel"}</a> Cancel·la
    &nbsp;&nbsp;&nbsp;&nbsp;{button src='button_ok.gif' set='icons/small' __alt="Create" __title="Create"} Crea
    </div>
</div>
</form>
</div>
